aws_access_key = "__ACCESS_KEY__"
aws_secret_key = "__SECRET_KEY__"
aws_region     = "eu-west-1"
aws_key_name   = "ec2-user"
instance_type  = "t2.micro"
aws_region     = "eu-west-1"
aws_key_name   = "ec2-user"
instance_type  = "t2.micro"
sec_groups_mesos = "10.0.1.0/24,10.1.0.0/16"
slaves_ami     = "ami-a3149ad0"
master_ami     = "ami-6e55db1d"
tag_value      = "Adaptive"
