{

    "bootstrap": false,
    "server": false,
    "datacenter": "dc1",
    "ui_dir": "/home/ec2-user/dist",
    "data_dir": "/var/consul",
    "log_level": "INFO",
    "enable_syslog": true,
    "start_join": ["MASTER"],
    "enable_syslog": true
}
